body {
    background-color: rgb(138, 96, 172);
    box-sizing      : border-box;
    margin          : 0%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'left main  right'
        'footer footer footer';
    text-align: center;
}
#Main {
    grid-area: main;
}
.footer {
    margin-top: 2%;
    grid-area: footer;
}


#CU {
    grid-area: right;

    align-items: center;
}

.topNav {
    grid-area       : header;
    background-color: rgb(155, 99, 201);
    margin-bottom   : 1%;
}

#PI {
    grid-area: left;
}

#school {
    grid-area: main;
}


label,
input {
    margin: 3%;
    
}
label{
    text-decoration: underline;
}

.VInput{
    text-decoration: none;
    color: red;
}


@media screen and (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header header'
            'left  main'
            'center main'
            'footer footer';
        grid-gap: 10px;
    }
    #CU {
        grid-area: center;
    }

    
}


@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'left''main''center'
            'footer ';
    }

    div {
        width: 100%;
    }


}

@keyframes glowing {
    0% {
        background-color: #e40623;
        box-shadow      : 0 0 3px #e40623;
        color           : e40623;
    }

    25% {
        background-color: #e43206;
        box-shadow      : 0 0 15px #e43206;
        color           : e43206;
    }

    50% {
        background-color: #e45706;
        box-shadow      : 0 0 25px #e45706;
        color           : #e45706;
    }

    75% {
        background-color: #e47106;
        box-shadow      : 0 0 15px #e47106;
        color           : #e47106;
    }

    99% {
        background-color: #e4bb06;
        box-shadow      : 0 0 3px #e4bb06;
        color           : e4bb06;
        display         : none;
    }
}

@keyframes blinking {
    0% {
        color: #e40623;
    }

    100% {

        color: #e45706
    }
}


button {
    animation-name           : glowing;
    animation-duration       : 1s;
    animation-iteration-count: infinite;
}