body {
    background-color: rgb(112, 44, 168);
    box-sizing      : border-box;
    margin: 0%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'left main  right';
    text-align-last: center;
}

#topNav {
    grid-area       : header;
    background-color: rgb(121, 67, 165);
    margin-bottom   : 1%;
}

#PI {
    grid-area: left;
}

#school {
    grid-area: right;
}

#Pic {
    grid-area: main;
}

label,
input {
    margin: 3%;
}



@media screen and (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header header'
            'left  right'
            'footer footer';
        grid-gap: 10px;
    }

    #Pic {
        grid-area    : footer;
        align-content: center;
    }
}


@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'left''right'
            'footer ';
    }

    div {
        width: 100%;
    }


}

@keyframes glowing {
    0% {
      background-color: #e40623;
      box-shadow: 0 0 3px #e40623;
      color: e40623;
    }
    25% {
      background-color: #e43206;
      box-shadow: 0 0 15px #e43206;
      color: e43206;
    }
    50% {
        background-color: #e45706;
        box-shadow: 0 0 25px #e45706;
        color: #e45706;
    }
    75% {
        background-color: #e47106;
        box-shadow: 0 0 15px #e47106;
        color: #e47106;
    }
    99% {
      background-color: #e4bb06;
      box-shadow: 0 0 3px #e4bb06;
      color: e4bb06;
      display: none;
    }
  }

  @keyframes blinking {
      0%{
          color: #e40623;
      }
      100%{

        color:#e45706
      }
  }


  button {
      animation-name: glowing;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }