body
{
    background-color: beige;
}

label{
    text-decoration: underline;
}

Form {
    background-color: antiquewhite;
    width: max-content;
}

button {
    background-color: lightblue;
}

.suf {
    color: deepskyblue;
}