<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/cv.css') }}">
    <script src="{{ url_for('static', filename= 'JS/cv.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your Own CV</title>
    <script src="cv.js"></script>
</head>

<body>
    {%if session.username%}
    <h1> Hey There {{session.username}}</h1>
    {%endif%}
    <div class="grid-container">
        <div class="topNav">
            <h1 for="">Enter Information: </h1>
        </div>
        
            <div id="PI" >
                <h3>Personal Info</h3>
                <label for="">Full Name: </label>
                <input type="text"> <br>
                <label for="">City: </label>
                <input type="text"><br>
                <label for="">Age: </label>
                <input type="text"><br>
            </div>
            
            <div id="school">
                <h3>School and Work Info</h3>
                <label for="">Elementry: </label>
                <input type="text"><br>
                <label for="">Middle School: </label>
                <input type="text"><br>
                <label for="">High School: </label>
                <input type="text"><br>

                <label for="workL">Please write your work expirence</label>
                <br><br>
                <textarea name="workTE" id="workTE" cols="30" rows="15">
                </textarea>
            </div>

            <div id="Pic" >
                <img src="{{ url_for('static', filename= 'Imgs/Girl.jpg') }}" alt="Cartoon Girl">
            </div>

            <div class="footer">
                <button onclick="next()">Next</button>
            </div>
    </div>


</body>

</html>