<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/cv.css') }}">
    <script src="{{ url_for('static', filename= 'JS/cv.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>
    {%if session.username%}
    <h1> Hey There {{session.username}}</h1>
    {%endif%}
    <div class="grid-container">
        <div class="topNav">
            <h1 for="">Contact Us: </h1>
        </div>
        
            <div id="Main" >
                <label for="">Full Name: </label>
                <input type="text"> <br>
                <label for="">Email Address: </label>
                <input id="EmailIn" type="email" pattern=".+@.+\.com" required> <br>
                <label  class="VInput"  id="emailVM"></label><br>
                <label for="">Phone Number: </label>
                <input id="tel" type="tel" pattern="[0-9]{10}" required> <br>
                <label class="VInput" id="phoneVM"></label><br>
                <label for="">Your Thoughts</label><br><br>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="footer">
                <button onclick="check_validtion()">Submit</button>
            </div>
            
            
    </div>


</body>

</html>